
.login-container .gradient-login-btn {
    text-decoration: none;
    position: relative;
    background-image: linear-gradient(to right, #FEAC5E 0%, #b44dc0 48%, #FEAC5E 100%);
    -webkit-backface-visibility: hidden;
    transition: 0.5s;
    background-size: 200% auto;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 0 10px #333;
    z-index: 1;
}
.login-container .gradient-login-btn:hover {
    /* background-position: right center; */
    cursor: pointer;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 20%);
    box-shadow: 0 0 0px #333;
}
.login-container .gradient-login-btn span {
    position: relative;
    z-index: 3;
}

.login-container input[type=text] {
    width: 100%;
    padding: 12px 3px 12px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.login-container input[type=text]:focus {
    border: 2px solid #1991eb;
    /* box-shadow: 0 0 10px #333; */
    outline: 0;
    box-shadow: 0 0 0 5px rgba(107, 27, 211, 0.5);
}
.login-container input[type=password] {
    width: 100%;
    padding: 12px 3px 12px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.login-container input[type=password]:focus {
    border: 2px solid #1991eb;
    /* box-shadow: 0 0 10px #333; */
    outline: 0;
    box-shadow: 0 0 0 5px rgba(107, 27, 211, 0.5);
}
.fa-chart:before {
    content: '\f080';
}
.admin-sidenav::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.admin-edit-category::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.admin-sidenav-wrapper::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.admin-sidenav-wrapper .tooltip {
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}
  
  /* Tooltip text */
.admin-sidenav-wrapper .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background-color: black; */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1000;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .admin-sidenav-wrapper .tooltip:hover .tooltiptext {
    visibility: visible;
}
  
.admin-services input[type=text] {
    width: 100%;
    padding: 8px 3px 8px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.admin-services input[type=text]:focus {
    border: 2px solid #1991eb;
    /* box-shadow: 0 0 10px #333; */
    outline: 0;
    box-shadow: 0 0 0 5px rgba(107, 27, 211, 0.5);
}
.theme-customizer .check-mark:after {
    display: block;
    position: relative;
    left: 5px;
    top: 5px;
    content: '';
    border-radius: 100%;
    background-color: white;
    width: 10px;
    height: 10px;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
.reverse-rotating {
    -webkit-animation: rotating 2s linear infinite reverse;
    -moz-animation: rotating 2s linear infinite reverse;
    -ms-animation: rotating 2s linear infinite reverse;
    -o-animation: rotating 2s linear infinite reverse;
    animation: rotating 2s linear infinite reverse;
}
