@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Urbanist', sans-serif;
  background: black;
  color: #212121;
}

.nav li {
  height: 4rem;
}

.nav a {
  color: #eee;
  text-decoration: none;
  padding: 1em 1em;
  border-radius: 60px;
  font-weight: 600;
  text-align: center;
  line-height: 1.1em;
}

/* .nav a:hover{
  /* text-decoration: none;
  color: #fff;
  border-color: #fff;
  font-weight: 700;
  border-radius: 60px;
  position: relative;
  color: #fff;
  border: none;
  transition: all 0.5s ease;
} */

.nav li.others {
  margin-right: -30px !important;
}

.nav li.custom {
  margin-left: -0.5rem !important;
}
/* .custom {
  margin-left: -15px !important;
} */

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


* {
  box-sizing: border-box;
}

.sticky {
  background-color: black;
  transition: all 0.5s ease;
  height: 5.5rem;
  position: fixed;
  top: -0.3rem;
  z-index: 1001;
}

.samnav {
  background-color: black;
  transition: all 0.5s ease;
  height: 7rem;
  position: relative;
  top: 0rem;
  z-index: 1000;
}

.sticky + main {
  margin-top: 5.5rem;
}

.sticky + .sidenav {
  margin-top: 6rem;
}

@media (max-width: 768px) { 
  .nav li.others {
    margin-right: 0 !important;
  }
  
  .nav li.custom {
    margin-left: 0 !important;
  } 
}

.bannerimg {
  animation: MoveUpDown 5s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 100px;
  }
}

.gradient-btn {
  /* background: radial-gradient(farthest-corner at top, #FFFFFF 0%, #ffb3ff 4%, #ff33ff 12.25%, #800080 31.25%, #b300b3 50%) top right/200% 200%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  font-weight: bold;
  background-color: white;

  background-image: -o-linear-gradient(to top, transparent, white);    
  background-image: -webkit-linear-gradient(to top, transparent, white);
  background-image: -moz-linear-gradient(to top, transparent, white);    
  background-image: -ms-linear-gradient(to top, transparent, white);
  background-image: linear-gradient(to top, transparent, white);    
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;    
  /* animation: colorChange 5s infinite alternate; */
}
.gradient-btn:hover {
  background-color: purple;    

  /* background: radial-gradient(farthest-corner at top, #FFFFFF 0%, #ffb3ff 4%, #ff33ff 12.25%, #800080 31.25%, #b300b3 50%) top right/200% 200%; */
  /* animation: colorChange 5s infinite alternate; */
}

@keyframes colorChange {
  from {
    background-position:0%;
  }
  to {
    /* background-position:top left; */
    background-position:100%;
  }
 }
 
 .gradient-btn-1 {
  color: #fff;
  font-family: arial, sans-serif;
  text-decoration: none;
  position: relative;
  background-color: #ccc;
  background-image: linear-gradient(to right, #ff05ff, indigo);
  -webkit-backface-visibility: hidden;
  z-index: 1;
}
.gradient-btn-1:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-image: linear-gradient(to right, indigo, indigo);
  transition: opacity 0.5s ease-out;
  z-index: 0;
  opacity: 0;
}
.gradient-btn-1:hover:after {
  opacity: 1;
}
.gradient-btn-1 span {
  position: relative;
  z-index: 3;
}

.gradient-btn-2 {
  font-family: arial, sans-serif;
  text-decoration: none;
  position: relative;
  background-color: rgba(255,255,255,0.1);
  /* background-image: linear-gradient(to right, #ff05ff, indigo); */
  -webkit-backface-visibility: hidden;
  z-index: 1;
}
.gradient-btn-2:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-image: linear-gradient(to right, indigo, #ff05ff);
  transition: opacity 0.5s ease-out;
  z-index: 0;
  opacity: 0;
}
.gradient-btn-2:hover:after {
  opacity: 1;
}
.gradient-btn-2 span {
  position: relative;
  z-index: 3;
}

.footer-link {
  font-family: arial, sans-serif;
  text-decoration: none;
  position: relative;
  transition: opacity 0.5s ease-out;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}
.footer-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DC39FC;
  transform: scale(0,1);
  transform-origin: right center;
  transition: transform 500ms ease;
}
.footer-link:hover:after {
  transform: scale(1,1);
  transform-origin: left center;
}
.footer-link span {
  position: relative;
  z-index: 3;
}


.product-card {
  font-family: arial, sans-serif;
  text-decoration: none;
  position: relative;
  transition: opacity 0.5s ease-out;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}
.product-card .btn-buyit{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-30%);
  padding: 10px;
  width: 56%;
  text-align: center;
  border: 0px;
  background-size: 200% auto;
  /* background-image: linear-gradient(130.35deg, #6345ED 17.35%, #6345ED 78.23%); */
  color: #fff;
  opacity: 0;
  border: unset;
  background-size: 200% auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-card:hover .btn-buyit {
  top: 50%;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products ::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
